<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>ascender</key>
    <integer>1111</integer>
    <key>capHeight</key>
    <integer>888</integer>
    <key>copyright</key>
    <string>Copyright 2022 Vaishnavi Murthy Yerkadithaya . All rights reserved.</string>
    <key>descender</key>
    <integer>-1111</integer>
    <key>familyName</key>
    <string>Ikshu</string>
    <key>guidelines</key>
    <array>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-7</integer>
        <key>y</key>
        <integer>571</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-54</integer>
        <key>y</key>
        <integer>-87</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-22</integer>
        <key>y</key>
        <integer>-15</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-55</integer>
        <key>y</key>
        <integer>-483</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-44</integer>
        <key>y</key>
        <integer>-224</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-49</integer>
        <key>y</key>
        <integer>767</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-112</integer>
        <key>y</key>
        <integer>978</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-185</integer>
        <key>y</key>
        <integer>-320</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-221</integer>
        <key>y</key>
        <integer>716</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-221</integer>
        <key>y</key>
        <integer>498</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-221</integer>
        <key>y</key>
        <integer>485</integer>
      </dict>
      <dict>
        <key>angle</key>
        <integer>0</integer>
        <key>x</key>
        <integer>-221</integer>
        <key>y</key>
        <integer>701</integer>
      </dict>
    </array>
    <key>italicAngle</key>
    <integer>0</integer>
    <key>note</key>
    <string>Feel free to contact the author for any fixes or updates required : vaishnavimurthy@gmail.com
Wishing you good things in life.</string>
    <key>openTypeHeadCreated</key>
    <string>2022/08/25 04:58:57</string>
    <key>openTypeHheaAscender</key>
    <integer>1111</integer>
    <key>openTypeHheaDescender</key>
    <integer>-1111</integer>
    <key>openTypeNameDesigner</key>
    <string>Vaishnavi Murthy Yerkadithaya</string>
    <key>openTypeNameDesignerURL</key>
    <string>www.theverylucky.com</string>
    <key>openTypeNameManufacturer</key>
    <string>Vaishnavi Murthy Yerkadithaya</string>
    <key>openTypeNameManufacturerURL</key>
    <string>www.theverylucky.com</string>
    <key>openTypeOS2Panose</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2StrikeoutPosition</key>
    <integer>333</integer>
    <key>openTypeOS2StrikeoutSize</key>
    <integer>44</integer>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>1111</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-1111</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2UnicodeRanges</key>
    <array>
      <integer>0</integer>
      <integer>1</integer>
      <integer>22</integer>
      <integer>23</integer>
      <integer>31</integer>
      <integer>45</integer>
    </array>
    <key>openTypeOS2VendorID</key>
    <string>VMY</string>
    <key>openTypeOS2WinAscent</key>
    <integer>1111</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>1111</integer>
    <key>postscriptBlueValues</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>postscriptFontName</key>
    <string>Ikshu-Regular</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>xHeight</key>
    <integer>555</integer>
  </dict>
</plist>
