<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>G</key>
    <string>G_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>_loopedviramaCombining.alt2</key>
    <string>_loopedviramaC_ombining.alt2.glif</string>
    <key>_maJoining.1</key>
    <string>_maJ_oining.1.glif</string>
    <key>_nga1</key>
    <string>_nga1.glif</string>
    <key>_right</key>
    <string>_right.glif</string>
    <key>_smart.kaRight</key>
    <string>_smart.kaR_ight.glif</string>
    <key>_ttatta</key>
    <string>_ttatta.glif</string>
    <key>_yavattu-1</key>
    <string>_yavattu-1.glif</string>
    <key>aa-tutg.alt1</key>
    <string>aa-tutg.alt1.glif</string>
    <key>aa-tutg.alt2</key>
    <string>aa-tutg.alt2.glif</string>
    <key>ai-tutg.alt1</key>
    <string>ai-tutg.alt1.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>ba-tutg</key>
    <string>ba-tutg.glif</string>
    <key>bhChillu-tutg</key>
    <string>bhC_hillu-tutg.glif</string>
    <key>bha-tutg</key>
    <string>bha-tutg.glif</string>
    <key>bha_ra-tutg</key>
    <string>bha_ra-tutg.glif</string>
    <key>bha_uMatra-tutg.alt1</key>
    <string>bha_uM_atra-tutg.alt1.glif</string>
    <key>bha_uuMatra-tutg</key>
    <string>bha_uuM_atra-tutg.glif</string>
    <key>ca-tutg</key>
    <string>ca-tutg.glif</string>
    <key>ca-tutg.alt1</key>
    <string>ca-tutg.alt1.glif</string>
    <key>ca_cha-tutg.alt2</key>
    <string>ca_cha-tutg.alt2.glif</string>
    <key>cha-tutg</key>
    <string>cha-tutg.glif</string>
    <key>cha_uMatra-tutg.alt1</key>
    <string>cha_uM_atra-tutg.alt1.glif</string>
    <key>da-tutg.alt1</key>
    <string>da-tutg.alt1.glif</string>
    <key>da_bha-tutg</key>
    <string>da_bha-tutg.glif</string>
    <key>da_da-tutg</key>
    <string>da_da-tutg.glif</string>
    <key>da_dha_ya-tutg</key>
    <string>da_dha_ya-tutg.glif</string>
    <key>da_ga-tutg</key>
    <string>da_ga-tutg.glif</string>
    <key>da_uuMatra-tutg</key>
    <string>da_uuM_atra-tutg.glif</string>
    <key>dda-tutg</key>
    <string>dda-tutg.glif</string>
    <key>ddha-tutg</key>
    <string>ddha-tutg.glif</string>
    <key>ddha-tutg.alt1</key>
    <string>ddha-tutg.alt1.glif</string>
    <key>ee-tutg.alt1</key>
    <string>ee-tutg.alt1.glif</string>
    <key>eeMatra-tutg</key>
    <string>eeM_atra-tutg.glif</string>
    <key>eight-tutg</key>
    <string>eight-tutg.glif</string>
    <key>ga-tutg</key>
    <string>ga-tutg.glif</string>
    <key>ga_bha-tutg</key>
    <string>ga_bha-tutg.glif</string>
    <key>ga_bha_ya-tutg</key>
    <string>ga_bha_ya-tutg.glif</string>
    <key>ga_da_dha-tutg</key>
    <string>ga_da_dha-tutg.glif</string>
    <key>ga_ga-tutg</key>
    <string>ga_ga-tutg.glif</string>
    <key>ga_gha-tutg</key>
    <string>ga_gha-tutg.glif</string>
    <key>ga_ja-tutg</key>
    <string>ga_ja-tutg.glif</string>
    <key>ga_na-tutg</key>
    <string>ga_na-tutg.glif</string>
    <key>ga_uMatra-tutg.alt1</key>
    <string>ga_uM_atra-tutg.alt1.glif</string>
    <key>ga_uuMatra-tutg</key>
    <string>ga_uuM_atra-tutg.glif</string>
    <key>ga_ya-tutg</key>
    <string>ga_ya-tutg.glif</string>
    <key>germinationmark-tutg</key>
    <string>germinationmark-tutg.glif</string>
    <key>gha-tutg.alt1</key>
    <string>gha-tutg.alt1.glif</string>
    <key>ha-tutg</key>
    <string>ha-tutg.glif</string>
    <key>ha_na-tutg</key>
    <string>ha_na-tutg.glif</string>
    <key>ha_uMatra-tutg.alt1</key>
    <string>ha_uM_atra-tutg.alt1.glif</string>
    <key>ha_uuMatra-tutg</key>
    <string>ha_uuM_atra-tutg.glif</string>
    <key>i-tutg</key>
    <string>i-tutg.glif</string>
    <key>ii-tutg</key>
    <string>ii-tutg.glif</string>
    <key>ii-tutg.alt2</key>
    <string>ii-tutg.alt2.glif</string>
    <key>iiMatra-tutg</key>
    <string>iiM_atra-tutg.glif</string>
    <key>ja-tutg</key>
    <string>ja-tutg.glif</string>
    <key>ja_uMatra-tutg.alt1</key>
    <string>ja_uM_atra-tutg.alt1.glif</string>
    <key>jha-tutg.alt1</key>
    <string>jha-tutg.alt1.glif</string>
    <key>kChillu-tutg</key>
    <string>kC_hillu-tutg.glif</string>
    <key>ka-tutg</key>
    <string>ka-tutg.glif</string>
    <key>ka_kChillu-tutg</key>
    <string>ka_kC_hillu-tutg.glif</string>
    <key>ka_ka-tutg</key>
    <string>ka_ka-tutg.glif</string>
    <key>ka_na_ya-tutg</key>
    <string>ka_na_ya-tutg.glif</string>
    <key>ka_sa-tutg</key>
    <string>ka_sa-tutg.glif</string>
    <key>ka_ssa-tutg</key>
    <string>ka_ssa-tutg.glif</string>
    <key>ka_ssa_nna_ya-tutg</key>
    <string>ka_ssa_nna_ya-tutg.glif</string>
    <key>ka_ta_ra_ya-tutg</key>
    <string>ka_ta_ra_ya-tutg.glif</string>
    <key>ka_ta_tha-tutg</key>
    <string>ka_ta_tha-tutg.glif</string>
    <key>ka_ta_uMatra-tutg</key>
    <string>ka_ta_uM_atra-tutg.glif</string>
    <key>ka_tha_ya-tutg</key>
    <string>ka_tha_ya-tutg.glif</string>
    <key>ka_ya-tutg</key>
    <string>ka_ya-tutg.glif</string>
    <key>kha-tutg.alt1</key>
    <string>kha-tutg.alt1.glif</string>
    <key>kha-tutg.alt2</key>
    <string>kha-tutg.alt2.glif</string>
    <key>la_la-tutg</key>
    <string>la_la-tutg.glif</string>
    <key>llVocalic-tutg</key>
    <string>llV_ocalic-tutg.glif</string>
    <key>lla-tutg</key>
    <string>lla-tutg.glif</string>
    <key>ma_ya-tutg</key>
    <string>ma_ya-tutg.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>na_da-tutg</key>
    <string>na_da-tutg.glif</string>
    <key>na_dha-tutg</key>
    <string>na_dha-tutg.glif</string>
    <key>na_ga-tutg</key>
    <string>na_ga-tutg.glif</string>
    <key>na_ka-tutg.alt2</key>
    <string>na_ka-tutg.alt2.glif</string>
    <key>na_ka_ssa-tutg</key>
    <string>na_ka_ssa-tutg.glif</string>
    <key>na_ka_ta-tutg</key>
    <string>na_ka_ta-tutg.glif</string>
    <key>na_nChillu-tutg</key>
    <string>na_nC_hillu-tutg.glif</string>
    <key>na_ta_ra-tutg</key>
    <string>na_ta_ra-tutg.glif</string>
    <key>na_ta_ya-tutg</key>
    <string>na_ta_ya-tutg.glif</string>
    <key>na_ttChillu-tutg</key>
    <string>na_ttC_hillu-tutg.glif</string>
    <key>na_tta-tutg</key>
    <string>na_tta-tutg.glif</string>
    <key>na_va-tutg</key>
    <string>na_va-tutg.glif</string>
    <key>na_ya-tutg</key>
    <string>na_ya-tutg.glif</string>
    <key>na_ya-tutg.below</key>
    <string>na_ya-tutg.below.glif</string>
    <key>nga-tutg</key>
    <string>nga-tutg.glif</string>
    <key>nga-tutg.alt1</key>
    <string>nga-tutg.alt1.glif</string>
    <key>nga_ka_ka-tutg</key>
    <string>nga_ka_ka-tutg.glif</string>
    <key>nga_ka_ta-tutg</key>
    <string>nga_ka_ta-tutg.glif</string>
    <key>nga_kha-tutg</key>
    <string>nga_kha-tutg.glif</string>
    <key>nga_na-tutg</key>
    <string>nga_na-tutg.glif</string>
    <key>nga_ta-tutg</key>
    <string>nga_ta-tutg.glif</string>
    <key>nnChillu-tutg</key>
    <string>nnC_hillu-tutg.glif</string>
    <key>nna_dda-tutg</key>
    <string>nna_dda-tutg.glif</string>
    <key>nna_ma-tutg</key>
    <string>nna_ma-tutg.glif</string>
    <key>nna_tta-tutg</key>
    <string>nna_tta-tutg.glif</string>
    <key>nna_uuMatra-tutg.alt1</key>
    <string>nna_uuM_atra-tutg.alt1.glif</string>
    <key>nya-tutg</key>
    <string>nya-tutg.glif</string>
    <key>nya-tutg.alt1</key>
    <string>nya-tutg.alt1.glif</string>
    <key>nya-tutg.alt2</key>
    <string>nya-tutg.alt2.glif</string>
    <key>nya_UuMatra-tutg</key>
    <string>nya_U_uM_atra-tutg.glif</string>
    <key>nya_ca-tutg</key>
    <string>nya_ca-tutg.glif</string>
    <key>nya_ja-tutg.alt1</key>
    <string>nya_ja-tutg.alt1.glif</string>
    <key>nya_uMatra-tutg.alt1</key>
    <string>nya_uM_atra-tutg.alt1.glif</string>
    <key>oo-tutg</key>
    <string>oo-tutg.glif</string>
    <key>oo-tutg.alt1</key>
    <string>oo-tutg.alt1.glif</string>
    <key>pa_sa_ma-tutg</key>
    <string>pa_sa_ma-tutg.glif</string>
    <key>pa_sa_ta-tutg</key>
    <string>pa_sa_ta-tutg.glif</string>
    <key>pa_ta_va-tutg</key>
    <string>pa_ta_va-tutg.glif</string>
    <key>pa_ya-tutg</key>
    <string>pa_ya-tutg.glif</string>
    <key>pluta_pluta-tutg</key>
    <string>pluta_pluta-tutg.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>rVocalic-tutg</key>
    <string>rV_ocalic-tutg.glif</string>
    <key>rVocalicMatra-tutg-alt1</key>
    <string>rV_ocalicM_atra-tutg-alt1.glif</string>
    <key>ra_ma-tutg.alt1</key>
    <string>ra_ma-tutg.alt1.glif</string>
    <key>ra_ma_ma-tutg</key>
    <string>ra_ma_ma-tutg.glif</string>
    <key>ra_ra-tutg</key>
    <string>ra_ra-tutg.glif</string>
    <key>ra_sha-tutg</key>
    <string>ra_sha-tutg.glif</string>
    <key>ra_uMatra-tutg.alt1</key>
    <string>ra_uM_atra-tutg.alt1.glif</string>
    <key>rrChillu-tutg</key>
    <string>rrC_hillu-tutg.glif</string>
    <key>rrVocalic-tutg</key>
    <string>rrV_ocalic-tutg.glif</string>
    <key>rra_uMatra-tutg.001</key>
    <string>rra_uM_atra-tutg.001.glif</string>
    <key>sa_ca-tutg</key>
    <string>sa_ca-tutg.glif</string>
    <key>sa_ka_vocalicR-tutg</key>
    <string>sa_ka_vocalicR_-tutg.glif</string>
    <key>sa_sa_tha_uMatra-tutg</key>
    <string>sa_sa_tha_uM_atra-tutg.glif</string>
    <key>sa_ta_raMatra-tutg</key>
    <string>sa_ta_raM_atra-tutg.glif</string>
    <key>sa_tha-tutg</key>
    <string>sa_tha-tutg.glif</string>
    <key>sa_ya-tutg</key>
    <string>sa_ya-tutg.glif</string>
    <key>sha_uMatra-tutg</key>
    <string>sha_uM_atra-tutg.glif</string>
    <key>ssa_ka_ra-tutg</key>
    <string>ssa_ka_ra-tutg.glif</string>
    <key>ssa_ka_uuMatra-tutg</key>
    <string>ssa_ka_uuM_atra-tutg.glif</string>
    <key>ssa_la-tutg</key>
    <string>ssa_la-tutg.glif</string>
    <key>taChillu-tutg</key>
    <string>taC_hillu-tutg.glif</string>
    <key>ta_bha-tutg</key>
    <string>ta_bha-tutg.glif</string>
    <key>ta_ma-tutg.alt1</key>
    <string>ta_ma-tutg.alt1.glif</string>
    <key>ta_taChillu-tutg</key>
    <string>ta_taC_hillu-tutg.glif</string>
    <key>ta_uMatra-tutg</key>
    <string>ta_uM_atra-tutg.glif</string>
    <key>ta_ya-tutg</key>
    <string>ta_ya-tutg.glif</string>
    <key>tta_tta-tutg</key>
    <string>tta_tta-tutg.glif</string>
    <key>tta_uuMatra-tutg</key>
    <string>tta_uuM_atra-tutg.glif</string>
    <key>two-tutg</key>
    <string>two-tutg.glif</string>
    <key>u-tutg</key>
    <string>u-tutg.glif</string>
    <key>uuMatra-tutg.alt4</key>
    <string>uuM_atra-tutg.alt4.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>ya-tutg</key>
    <string>ya-tutg.glif</string>
    <key>ya_uMatra-tutg</key>
    <string>ya_uM_atra-tutg.glif</string>
    <key>ya_uuMatra-tutg</key>
    <string>ya_uuM_atra-tutg.glif</string>
    <key>ya_ya-tutg.alt2</key>
    <string>ya_ya-tutg.alt2.glif</string>
  </dict>
</plist>
